
<extend name="Common:common"/>
<block name="main">

    <div class="main-content">
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
                try {
                    ace.settings.check('breadcrumbs', 'fixed')
                } catch (e) {
                }
            </script>

            <ul class="breadcrumb">
                <li>
                    <i class="icon-home home-icon"></i>
                    <a href="#"> 云系统管理平台</a>
                </li>

                <li>
                    <a href="#">系统基本信息</a>
                </li>
                <li class="active">系统设置</li>
            </ul>
            <!-- .breadcrumb -->

            <div class="nav-search" id="nav-search">
                <form class="form-search">
                <span class="input-icon">
                    <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input"
                           autocomplete="off"/>
                    <i class="icon-search nav-search-icon"></i>
                </span>
                </form>
            </div>
            <!-- #nav-search -->
        </div>

        <div class="page-content">
            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->
                    <table class="table table-border table-bordered table-bg mt-20">
                        <thead>
                        <tr>
                            <th colspan="2" scope="col">服务器信息</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th width="30%">服务器计算机名</th>
                            <td><span id="lbServerName">http://127.0.0.1/</span></td>
                        </tr>
                        <tr>
                            <td>服务器IP地址</td>
                            <td>192.168.1.1</td>
                        </tr>

                        </tbody>
                    </table>

                    <form action="{:U('System/edit')}" method='post'>
                        <table class="table table-border table-bordered table-bg mt-20">
                            <tr>
                                <th colspan='2'>网站设置</th>
                            </tr>
                            <tr>
                                <td width='20%' align='right'>网站名称：</td>
                                <td>
                                    <input type="text" name='webname' value='{$Think.config.webname}'/>
                                </td>
                            </tr>
                            <tr>
                                <td align='right'>网站关键词：</td>
                                <td>
                                    <input type="text" name='keywrods' value='{$Think.config.keywords}' class='len400'/>
                                </td>
                            </tr>
                            <tr>
                                <td align='right'>网站描述：</td>
                                <td>
                                    <input type="text" name='discription' value='{$Think.config.discription}' class='len400'/>
                                </td>
                            </tr>
                            <tr>
                                <td align='right'>版权信息</td>
                                <td>
                                    <input type="text" name='copy' value='{$Think.config.copy}' class='len400'/>
                                </td>
                            </tr>
                            <tr>
                                <td align='right'>备案号：</td>
                                <td>
                                    <input type="text" name='record' value='{$Think.config.record}' class='len400'/>
                                </td>
                            </tr>
                            <tr>
                                <td align='right'>是否开放注册：</td>
                                <td>
                                    <label for="r1">
                                        <input type="radio" id='r1' value='1' name='regis_on' <if condition='C("regis_on")'>checked='checked'</if>/>&nbsp;开放
                                    </label>&nbsp;&nbsp;
                                    <label for="r0">
                                        <input type="radio" id='r0' value='0' name='regis_on' <if condition='!C("regis_on")'>checked='checked'</if>/>&nbsp;关闭
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td align='right'>网站状态：</td>
                                <td>
                                    <label for="o1">
                                        <input type="radio" id='o1' name='web_state' value='1' <if condition='C("web_state")'>checked='checked'</if>/>&nbsp;开放
                                    </label>&nbsp;&nbsp;
                                    <label for="o0">
                                        <input type="radio" id='o0' name='web_state' value='0' <if condition='!C("web_state")'>checked='checked'</if>/>&nbsp;维护中
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td colspan='2' align='center' height='60'>
                                    <input type="submit" value='保存修改' class='submit'/>
                                </td>
                            </tr>
                        </table>
                    </form>

                    <!-- PAGE CONTENT ENDS -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.page-content -->
    </div>
    <!-- /.main-content -->

</block>
