<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
	<title>全屏控制</title>
	<style type="text/css">
		body{
			margin: 0px;
			padding: 0px;
		}
	</style>
</head>
<body>
<div style="width: 940px; height: 452px; margin-left: auto;margin-right: auto;">
	<script type="text/javascript" src="http://jackzhang1204.github.io/sewise/sewise_player/player/sewise.player.min.js"></script>
	<script type="text/javascript">
		SewisePlayer.setup({
			server: "vod",
			type: "mp4",
			lang: 'zh_CN',
			logo: "http://onvod.sewise.com/libs/swfplayer/skin/images/logo.png",
			poster: "http://jackzhang1204.github.io/materials/poster.png",
			videosjsonurl: {
				"programname":"JSON URL",
				"videos": [
					{
						"key": 0,
						"clarity": "low",
						"name": "流畅",
						"url": "http://amai.oss-cn-hangzhou.aliyuncs.com/data/S013669361192/video/S0000_8-1476087867all.mp4?fileId=42324&quality=0"
					},
					{
						"key": 1,
						"clarity": "normal",
						"name": "标清",
						"url": "http://amai.oss-cn-hangzhou.aliyuncs.com/data/S013669361192/video/S0000_8-1476097759all.mp4?fileId=42324&quality=1"
					},
					{
						"key": 3,
						"clarity": "original",
						"name": "原画",
						"url": "http://amai.oss-cn-hangzhou.aliyuncs.com/data/S013669361192/video/S0000_8-1476339114all.mp4?fileId=42324&quality=2"
					}
				]
			},
			skin: "vodFlowPlayer",
			topbardisplay: "disable",
			fallbackurls:{
				ogg: "http://jackzhang1204.github.io/materials/mov_bbb.ogg",
				webm: "http://jackzhang1204.github.io/materials/mov_bbb.webm"
			}
		});

		function toFullScreen(){
			SewisePlayer.fullScreen();
			setTimeout(timeFunction, 5000);
		}
		function toNoramlScreen(){
			SewisePlayer.noramlScreen();
		}
		function timeFunction(){
			SewisePlayer.noramlScreen();
			console.log("to noramlScreen");
		}
	</script>
</div>
<div style="padding: 20px;float: left;margin-left: auto;margin-right: auto">
	<div style="padding-right: 20px;float: left;"><a href="javascript:toFullScreen();">全屏</a></div>
	<div style="padding-right: 20px;float: left;"><a href="javascript:toNoramlScreen();">普屏</a></div><br/>
	<h2>全屏控制 JSON地址集:</h2>
	[1]可以获取不同清晰度的视频流<p></p>
	[2]播放格式是MP4格式，可以携带参数
	<br clear="all"/>
</div>
</body>
</html>