<!DOCTYPE html>
<html>
<head>
    <title>HTML5 Sewise演示地址</title>

    <!-- Unless using the CDN hosted version, update the URL to the Flash SWF -->
    <script>
        videojs.options.flash.swf = "__PUBLIC__/video/video-js.swf";
    </script>

</head>
<body>
<a target="_blank" href="http://127.0.0.1/ThinkPhpStudy/admin.php/Html5/Sewise/videoMp4">点播MP4视频播放</a><p>
<a target="_blank" href="http://127.0.0.1/ThinkPhpStudy/admin.php/Html5/Sewise/liveM3u8">M3U8 src方式嵌入播放，这个可以切换地址播放哦</a><p>
<a target="_blank" href="http://127.0.0.1/ThinkPhpStudy/admin.php/Html5/Sewise/requestM3u8">M3U8验证地址播放</a><p>
<a target="_blank" href="http://127.0.0.1/ThinkPhpStudy/admin.php/Html5/Sewise/rtmpStreamUrl">直播RTMP流播放</a><p>
<a target="_blank" href="http://127.0.0.1/ThinkPhpStudy/admin.php/Html5/Sewise/audio">mp3 音频播放</a><p>
<a target="_blank" href="http://127.0.0.1/ThinkPhpStudy/admin.php/Html5/Sewise/videoMp4">点播MP4视频播放</a><p>
<a target="_blank" href="http://127.0.0.1/ThinkPhpStudy/admin.php/Html5/Sewise/videoMp4">点播MP4视频播放</a><p>
<!--设置自动播放将下面代码加到html中代码后面-->
<script type="text/javascript">
    var myPlayer = videojs('example_video_1');
    videojs("example_video_1").ready(function(){
        var myPlayer = this;
//        myPlayer.play();
    });
</script>
</body>
</html>
