<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <title>RTMP src方式嵌入播放</title>
    <style type="text/css">
        body{
            margin: 0px;
            padding: 0px;
        }
    </style>

</head>
<body>
<div style="width: 940px; height: 452px; margin-left: auto;margin-right: auto">
    <script type="text/javascript" src="http://jackzhang1204.github.io/sewise/sewise_player/player/sewise.player.min.js"></script>
    <script type="text/javascript">
        SewisePlayer.setup({
            server: "live",
            type: "rtmp",
            streamurl: "rtmp://121.43.63.240/live/S0000_8?username=tinywan&pwd=123456&token=123456",
            autostart: "true",
            buffer: "5",
            title: "RTMP src path",
            lang: "zh_CN",
            claritybutton: "disable",   //是否自动影藏导航栏
            skin: "liveWhite",
        });
    </script>
</div>

<div style="padding: 20px;float: left;margin-left: auto;margin-right: auto">
    <h1>直播RTMP权限地址检测</h1>
    <hr/>
    <h2>分发服务器</h2><p></p>
    <font color="green" size="4">【SewisePlayer OK】当前播放：rtmp://120.26.206.180/live/test_8【VLC可以】</font>【待解决】<p></p>
    <font color="green" size="4">【SewisePlayer OK】当前播放：rtmp://120.26.206.180/live/test_8?username=tinywan&pwd=123456&token=123456【VLC可以】</font><p></p>
    <hr/>
    <h2>直播节点服务器</h2><p></p>
    <font color="red">【SewisePlayer ERROR】开启权限未携带参数：rtmp://121.43.63.240/live/S0000_8【VLC 错误!!!!】</font><p></p>
    <font color="red">【SewisePlayer ERROR】开启权限携带不合法参数：rtmp://121.43.63.240/live/S0000_8?username=tinywan&pwd=1234567890&token=123456【VLC 错误!!!!】</font><p></p>
    <font color="green" size="4">【SewisePlayer OK】开启权限携带合法参数：rtmp://121.43.63.240/live/S0000_8?username=tinywan&pwd=123456&token=123456【VLC】</font><p></p>
    <hr/>
</div>
</body>
</html>