<extend name="Common:common"/>
<block name="main">

    <div class="main-content">
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
                try {
                    ace.settings.check('breadcrumbs', 'fixed')
                } catch (e) {
                }
            </script>

            <ul class="breadcrumb">
                <li>
                    <i class="icon-home home-icon"></i>
                    <a href="#"> 云系统管理平台</a>
                </li>

                <li>
                    <a href="#">权限管理</a>
                </li>
                <li class="active">权限列表</li>
            </ul>
            <!-- .breadcrumb -->

            <div class="nav-search" id="nav-search">

            </div>
            <!-- #nav-search -->
        </div>

        <div class="page-content">

            <div class="row">
                <form action="{:U('Rbac/createnode')}" method="post" class="form-horizontal" id="createfrom">
                    <div class="widget-content nopadding">
                        <div class="control-group">
                            <label class="control-label">英文名称:</label>

                            <div class="controls">
                                <input type="text" class="span2" placeholder="英文名称" name="name" style="width: 140px;"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">显示中文名称:</label>

                            <div class="controls">
                                <input type="text" class="span2" placeholder="中文名称" name="title" style="width: 140px;"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">图标类型:</label>

                            <div class="controls">
                                <select name="class" class="span2">
                                    <option value="icon-calendar">日历</option>
                                    <option value="icon-calendar">日历</option>
                                    <option value="icon-calendar">日历</option>
                                    <option value="icon-calendar">日历</option>
                                    <option value="icon-calendar">日历</option>
                                    <option value="icon-calendar">日历</option>
                                    <option value="icon-calendar">日历</option>
                                    <option value="icon-calendar">日历</option>
                                    <option value="icon-calendar">日历</option>
                                    <option value="icon-calendar">日历</option>
                                    <option value="icon-calendar">日历</option>
                                    <option value="icon-calendar">日历</option>
                                    <option value="icon-calendar">日历</option>
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">权限类型:</label>

                            <div class="controls">
                                <select name="level" class="span2">
                                    <option value="1">项目</option>
                                    <option value="2">模块</option>
                                    <option value="3">操作</option>
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">父节点:</label>

                            <div class="controls">
                                <select name="pid" class="span2">
                                    <option value="0">根节点</option>
                                    <volist name="nodelist" id="vo">

                                        <if condition="$vo.level eq 1">
                                            <option value="{$vo.id}">{$vo.title}</option>
                                            <else/>
                                            <option value="{$vo.id}">&nbsp;&nbsp;|{$vo.title}</option>
                                        </if>
                                    </volist>
                                </select>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-success">确认</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.page-content -->
    </div>
    <!-- /.main-content -->


</block>
