<extend name="Common:common"/>
<block name="main">

    <div class="main-content">
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
                try {
                    ace.settings.check('breadcrumbs', 'fixed')
                } catch (e) {
                }
            </script>

            <ul class="breadcrumb">
                <li>
                    <i class="icon-home home-icon"></i>
                    <a href="#"> 云系统管理平台</a>
                </li>

                <li>
                    <a href="#">权限管理</a>
                </li>
                <li class="active">权限列表</li>
            </ul>
            <!-- .breadcrumb -->

            <div class="nav-search" id="nav-search">
                <a href="{:U('Home/Rbac/createnode')}" class="btn btn-xs btn-primary">添加节点</a>
            </div>
            <!-- #nav-search -->
        </div>

        <div class="page-content">

            <div class="row">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th style="font-size: 14px;">#ID</th>
                        <th style="font-size: 14px;">中文名称</th>
                        <th style="font-size: 14px;">英文名称</th>
                        <th style="font-size: 14px;">所属父级</th>
                        <th style="font-size: 14px;">类型</th>
                        <th style="font-size: 14px;">
                            操作
                        </th>
                    </tr>
                    </thead>
                    <tbody>

                    <volist name='nodelist' id='vo'>
                        <tr style="margin-top: 30px; margin-left: 50px;">
                            <td>{$vo.id}</td>
                            <td>
                                <p style="text-indent: {$vo['level']*20}px;">{$vo.title}</p>
                            </td>
                            <td>{$vo.name}</td>
                            <td>{$vo.pid}</td>
                            <td>
                                <if condition="$vo.level eq 1">
                                    <span class="badge badge-inverse">项目</span>
                                    <elseif condition="$vo.level eq 2"/>
                                    <span class="badge badge-info">模块</span>
                                    <else />
                                    <span class="badge badge-important">操作</span>
                                </if>
                            </td>
                            <td class="center">
                                <if condition="$vo.menus eq 1">
                                    <button class="btn btn-xs btn-pink show-menus" value="{$vo.id}">正在显示</button>
                                    <else/>
                                    <button class="btn btn-xs btn-inverse show-menus" value="{$vo.id}">已经关闭</button>
                                </if>
                                <if condition="$vo.status eq 1">
                                    <button class="btn btn-xs btn-inverse set" value="{$vo.id}">禁用</button>
                                    <else/>
                                    <button class="btn btn-xs btn-primary set" value="{$vo.id}">启用</button>
                                </if>
                                <button class="btn btn-xs btn-danger del" value="{$vo.id}">权限删除</button>

                            </td>
                        </tr>
                    </volist>

                    </tbody>
                </table>
            </div>
        </div><!-- /.page-content -->
    </div><!-- /.main-content -->

    <script src="__ROOT__/Application/Common/Public/js/jquery.validate-1.13.1.js"></script>
    <script type="text/javascript">
        var $URL = "__APP__/Home/Rbac/";
        $(function(){
            //delete AdminUser
            $(".del").bind('click',function(){
                var $msg = confirm('确认删除该节点吗？删除后不可恢复！');
                var $id = $(this).attr('value');
                var $url = $URL+'delNode';
                var $data = {'id':$id};
                var success = function(response){
                    console.log(response.status);

                    if(response.status == 0)
                    {
                        alert(response.info);
                    }else if(response.status == 200)
                    {
                        alert(response.errmsg);
                        window.location.reload();
                    }else{
                        alert(response.errmsg);
                    }
                };
                if($msg) $.post($url,$data,success,'json');
            });
            //status set
            $(".set").bind('click',function(){
                var $msg = confirm('确认改变状态吗？');
                var $id = $(this).attr('value');
                var $url = $URL+'nodeStatus';
                var $data = {'id':$id};
                var success = function(response){
                    console.log(response.status);

                    if(response.status == 0)
                    {
                        alert(response.info);
                    }else if(response.status == 200)
                    {
                        alert(response.errmsg);
                        window.location.reload();
                    }else{
                        alert(response.errmsg);
                    }
                };
                if($msg) $.post($url,$data,success,'json');
            });

            //status set
            $(".show-menus").bind('click',function(){
                var $msg = confirm('确定在菜单栏显示该栏目吗？');
                var $id = $(this).attr('value');
                var $url = $URL+'showMenus';
                var $data = {'id':$id};
                var success = function(response){
                    console.log(response.status);

                    if(response.status == 0)
                    {
                        alert(response.info);
                    }else if(response.status == 200)
                    {
                        alert(response.errmsg);
                        window.location.reload();
                    }else{
                        alert(response.errmsg);
                    }
                };
                if($msg) $.post($url,$data,success,'json');
            });
        });
    </script>
</block>

