<extend name="Common:common"/>
<block name="main">

    <div class="main-content">
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
                try {
                    ace.settings.check('breadcrumbs', 'fixed')
                } catch (e) {
                }
            </script>

            <ul class="breadcrumb">
                <li>
                    <i class="icon-home home-icon"></i>
                    <a href="#"> 云系统管理平台</a>
                </li>

                <li>
                    <a href="#">系统基本信息</a>
                </li>
                <li class="active">系统设置</li>
            </ul>
            <!-- .breadcrumb -->

            <div class="nav-search" id="nav-search">
                <a href="{:U('Home/Rbac/createadminuser')}" class="btn btn-xs btn-success"><i class="icon-plus icon-white"></i>添加新用户</a>
            </div>
            <!-- #nav-search -->
        </div>

        <div class="page-content">

            <div class="row">
                <div class="col-sm-12">
                    <div class="widget-box">
                        <div class="widget-header">
                            <h4 class="smaller">
                                {$user['username']}
                                <small>在进行角色身份的修改</small>
                            </h4>
                        </div>

                        <div class="widget-body">
                            <div class="widget-main">
                                <form action="{:U('Home/Rbac/updateuser')}" method="post"  class="form-horizontal">
                                    <div class="widget-content nopadding">
                                        <form action="#" method="get" class="form-horizontal">
                                            <div class="control-group">
                                                <label class="control-label">用户名:</label>
                                                <div class="controls">
                                                    <input type="text" class="span6 username" placeholder="用户名" disabled name="username" value="{$user['username']}" />
                                                    <input type="hidden" name="user_id" value="{$user['user_id']}"/>
                                                </div>
                                            </div>
                                            <hr />
                                            <div class="control-group">
                                                <label class="control-label">选择用户组:</label>
                                                <div class="controls">
                                                    <select name="role_id" class="form-control" id="form-field-select-2" multiple="multiple" >
                                                        <volist name="role_list" id="vo">
                                                            <option value="{$vo.id}" <if condition="$vo.id eq $user['role_id']">selected</if> >{$vo.name}</option>
                                                        </volist>
                                                    </select>
                                                </div>
                                            </div>
                                            <hr/>
                                            <div>
                                                <button type="submit" class="btn btn-success btn-block">确认</button>
                                            </div>
                                        </form>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div><!-- /span -->

            </div>
        </div><!-- /.page-content -->
    </div><!-- /.main-content -->

    <script src="__ROOT__/Application/Common/Public/js/jquery.validate-1.13.1.js"></script>
    <script type="text/javascript">
        var $URL = "__APP__/Home/Rbac/";
        $(function(){
            //delete AdminUser
            $(".del").bind('click',function(){
                var $msg = confirm('确认删除该用户吗？删除后不可恢复！');
                var $id = $(this).attr('value');
                var $url = $URL+'delUser';
                var $data = {'id':$id};
                var success = function(response){
                    console.log(response.status);

                    if(response.status == 0)
                    {
                        alert(response.info);
                    }else if(response.status == 200)
                    {
                        alert(response.errmsg);
                        window.location.reload();
                    }else{
                        alert(response.errmsg);
                    }
                };
                if($msg) $.post($url,$data,success,'json');

            });
            //status set
            $(".set").bind('click',function(){
                var $msg = confirm('确认改变状态吗？');
                var $id = $(this).attr('value');
                var $url = $URL+'userStatus';
                var $data = {'id':$id};
                var success = function(response){
                    console.log(response.status);

                    if(response.status == 0)
                    {
                        alert(response.info);
                    }else if(response.status == 200)
                    {
                        alert(response.errmsg);
                        window.location.reload();
                    }else{
                        alert(response.errmsg);
                    }
                };
                if($msg) $.post($url,$data,success,'json');
            });
        });
    </script>
</block>
